.container {
  background-color: #00000063;
  z-index: 3;

  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: white;

    #closeBtn {
      justify-self: right;
    }

    #logo {
      flex: 0 0 50px;
      background: url("../../assets/logo.png") no-repeat;
      block-size: cover;
      width: 142px;
    }
  }
}
