@import "../../styles.scss";

.container {
  background-color: #00000090;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: auto;
    background-color: white;
    position: fixed;
    border-radius: 7px;
    box-shadow: 0 0 8px #00000028;
    padding: 15px;

    #close-btn {
      align-self: flex-end;
      width: 18px;
      height: 18px;
      background: url("../../assets/close.png");
    }

    #logo {
      flex: 0 0 50px;
      background: url("../../assets/logo.png") no-repeat;
      block-size: cover;
      width: 142px;
    }

    #selectors {
      padding-top: 5px;
      padding-bottom: 10px;

      .signup-selector {
        display: inline-block;
        color: black;
        width: 90px;
      }

      .login-selector {
        display: inline-block;
        color: black;
        width: 90px;
        margin-left: 20px;
      }

      .selected {
        color: $selected-color;
        font-weight: bold;
        border-bottom: $selected-color 2px solid;
        border-radius: 0px;
      }
    }

    button {
      width: 100%;
      margin: 10px 0px;
    }
  }
}
