<div class="order">
  <input 
    class="check" 
    [class.checked]="checked"
    type="checkbox" 
    [ngModel]="checked"
    (click)="checkClickHandler()">
  <div 
    class="picture"
    [style.background]="pictureUrl ? 'url(' + pictureUrl + ')' : ''">
  </div>
  <div class="content">
    <div class="name">{{ product?.name }}</div>
    <button 
      class="favorites btn-transparent"
      [class.exist]="inFavorites"
      (click)="changeFavoriteState()">
      {{ inFavorites ? 'Remove from favorites' : 'Add to favorites' }}
    </button>
    <button 
      class="remove btn-transparent"
      (click)="remove()">Remove</button>
  </div>
  <div class="price">
    <strong class="new-price">{{ product ? product.price + ' ₽' : '' }}</strong>
    <p class="old-price">{{ product?.oldPrice ? product.oldPrice + ' ₽' : '' }}</p>
    <p class="discount">{{ product?.oldPrice ? 'Discount is ' + (product.oldPrice - product.price) + ' ₽' : '' }}</p>
  </div>
  <select class="count" (change)="onchangeHandler($event.target.value)">
    <option
      *ngFor="let countItem of counts" 
      [value]="countItem"
      [selected]="countItem === order.count">
      {{ countItem }}
    </option>
  </select>
</div>
