#main {
  position: relative;
}

app-catalog {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

app-catalog.visible {
  display: block;
  z-index: 1;
  animation: catalogAnimation 0.5s ease-in forwards;
}

@keyframes catalogAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
