<div id="main-menu">
  <div id="logo" class="noselection" routerLink="/main"></div>
  <app-catalog-menu></app-catalog-menu>
  <app-search-form></app-search-form>
  <div 
    id="account"
    (mouseenter)="accountMouseenterHandler()"
    (mouseleave)="accountMouseleaveHandler()">
    <div 
      id="account-menu"
      [class.visibility]="accountManuVisibility">
      <div
        *ngIf="userName"
        id="user-name">
        Hello {{ userName }}
      </div>
      <div 
        id="signup-btn" 
        class="btn"
        (click)="signup()">
        Sign up
      </div>
      <div 
        *ngIf="!userName"
        id="login-btn" 
        class="btn-light"
        (click)="login()">
        Login
      </div>
      <div
        *ngIf="userName"
        id="logout-btn"
        (click)="logout()"
        class="btn-transparent">
        Logout
      </div>
    </div>
  </div>
  <div id="orderList" class="tooltip">
    <span class="tooltiptext">Order list</span>
  </div>
  <div id="favoriteList" class="tooltip">
    <span class="tooltiptext">Favorites</span>
  </div>
  <app-catalog [class.visible]="catalogVisibility"></app-catalog>
</div>
