#main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#logo {
  flex: 0 0 142px;
  display: inline-block;
  background: url("../../assets/logo.png") no-repeat;
  block-size: cover;
  height: 50px;
  padding-right: 10px;
}

app-catalog-menu {
  flex: 1;
  display: inline-block;
  padding-right: 10px;
}

app-search-form {
  flex: 10;
  display: inline-block;
}

#account {
  flex: 0 0 25px;
  display: inline-block;
  background: url("../../assets/user.png");
  block-size: cover;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#account:hover {
  background: url("../../assets/selected-user.png");
}

#orderList {
  flex: 0 0 25px;
  display: inline-block;
  background: url("../../assets/order-list.png");
  block-size: cover;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#orderList:hover {
  background: url("../../assets/selected-order-list.png");
}

app-catalog {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
}

app-catalog.visible {
  display: block;
  z-index: 2;
  animation: catalogAnimation 0.5s ease-in forwards;
}

@keyframes catalogAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
