<div class="products"
  *ngIf="products?.length">
  <div class="categories">
    <strong id="low-category-name"
      class="noselection"
      [class.selected-low-category]="lowCategoryRoute === selectedCategoryRoute"
      (click)="lowCategoryClickHandler()">
        {{ lowCategoryName }}
    </strong>
    <ul>
      <li *ngFor="let category of lowestCategories"
        (click)="lowestCategoryClickedHandler(category.route)"
        [class.selected-lowest-category]="category.route === selectedCategoryRoute">
        {{ category.name }}
      </li>
    </ul>
  </div>
  <div class="products-list">
    <table>
      <tr *ngFor="let product of products">
        <td *ngFor="let p of product">
          <app-product 
            [product]="p"
            [favorite]="p ? getFavorite(p.id) : null"
            [order]="p ? getOrder(p.id) : null">
          </app-product>
        </td>
      </tr>
  </table>
  </div>
</div>
<h3 *ngIf="!loading && !products?.length">There is no products</h3>
