@import "../../styles.scss";

.product {
  width: 100%;
  height: 100%;

  .picture {
    display: block;
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 15px;
    position: relative;

    .favorite-btn {
      position: absolute;
      top: 7px;
      right: 7px;
      width: 26px;
      height: 26px;
      background: url("../../assets/favorite.png") no-repeat;
    }

    .favorite-btn:hover {
      background: url("../../assets/favorite-selected.png") no-repeat;
      cursor: pointer;
    }

    .favorite-btn.isFavorite {
      background: url("../../assets/favorite-clicked.png") no-repeat;
    }
  }

  .indicators {
    height: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .indicator {
      width: 6px;
      height: 6px;
      margin: 2px;
      border-radius: 2px;
      background-color: $light-base-color;
    }

    .indicator.selected {
      background-color: $base-color;
    }
  }

  .indicators.hidden {
    visibility: hidden;
  }

  .price {
    margin-left: 20px;

    .new-price {
      display: inline-block;
      font-size: 1.1em;
      font-weight: bold;
    }

    .promotion {
      color: #ff4141;
    }

    .old-price {
      display: inline-block;
      font-size: 0.85em;
      color: #444444;
      margin-left: 5px;
      text-decoration: line-through;
      text-decoration-thickness: 2px;
      text-decoration-color: #ff4141;
    }
  }

  .name {
    padding: 0px;
    margin: 0 0 0 20px;
  }

  .name.selected {
    color: $selected-color;
  }

  .add-btn {
    margin-left: 20px;
    margin-top: 8px;
  }

  .minus-btn {
    display: inline-block;
    width: 40px;
    margin-left: 20px;
    margin-top: 8px;
  }

  .count {
    display: inline-block;
    width: 40px;
    margin-top: 8px;
    text-align: center;
    font-size: 0.95em;
  }

  .plus-btn {
    display: inline-block;
    width: 40px;
    margin-top: 8px;
  }
}
