<div 
  class="product"
  (mouseenter)="mouseenterHandler()"
  (mouseleave)="mouseleaveHandler()">
  <div 
    #picture
    class="picture" 
    [style.background]="selectedUrl ? 'url(' + selectedUrl + ') no-repeat' : ''"
    (mouseover)="mouseoverHandler()"
    (mouseout)="mouseoutHandler()">
    <div class="favorite-btn"
      [class.isFavorite]="isFavorite"
      (click)="changeFavoriteState()">
    </div>
  </div>
  <div class="indicators"
    [class.hidden]="urls?.length <= 1">
    <div class="indicator"
      *ngFor="let url of urls"
      [class.selected]="url === selectedUrl">
    </div>
  </div>
  <div class="price">
    <strong 
      class="new-price"
      [class.promotion]="product?.oldPrice">{{ product ? product.price + ' ₽' : '' }}
    </strong>
    <div class="old-price">{{ product?.oldPrice ? product.oldPrice + ' ₽' : '' }}</div>
  </div>
  <p 
    class="name"
    [class.selected]="selected">
    {{ product?.name }}
  </p>
  <button class="btn-small add-btn"
    *ngIf="product"
    (click)="addToCart()">
    Add to Cart
  </button>
</div>
