#catalogBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
}

.catalog {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  display: inline-block;
  background: url("../../assets/catalog.png") no-repeat;
}

.catalogOpened {
  background: url("../../assets/close-catalog.png") no-repeat;
}

span {
  display: inline-block;
}
