$base-color: #6b70de;
$selected-color: #6065c9;

body {
  font-family: "Open Sans", sans-serif;
}

.noselection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  @extend .noselection;
}

.btn {
  @extend .noselection;
  background-color: $base-color;
  color: white;
  border: 0;
  height: 2.5em;
  border-radius: 3px;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.btn:hover {
  background-color: $selected-color;
}

.tooltip {
  @extend .noselection;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: $selected-color;
  background-color: rgba(255, 255, 255, 0.438);
  text-align: center;
  border-radius: 6px;
  padding: 0 0;
  position: absolute;
  z-index: 1;
  bottom: -85%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.inp {
  font-family: "Open Sans", sans-serif;
  color: gray;
  height: 2.5em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 1em;
  border: $base-color 2px solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}

.inp:focus {
  color: #363636;
}
